
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: #6daf6c;
}

.container__search {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  grid-area: 0.5rem;
  background: #fff;
}

.container__search input {
  width: 100%;
  border-color: transparent;
}

.container__search input:focus {
  outline: none;
}

.container__search div:nth-child(2) {
  padding: 0 1rem;
}

.c__search {
  width: 90%;
  /* background-color: rgb(26, 26, 26); */
}